<h2>コメント</h2>
<ul>
  <% if @post.comments.size < 2 %>
    <li>No comments.</li>
  <% else %>
    <% @post.comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <li><%= comment.body %>
        (<%= comment.created_at %> |
        <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
        <%= link_to 'Destroy', post_comment_path(@post, comment), confirm: 'Are you sure?', method: :delete %>)
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>